@charset "UTF-8";
body {
  overflow: hidden;
  height: 100vh;
}

.demo {
  width: 400px;
  margin: 20px;
}

.demo-title {
  margin-bottom: 10px;
  line-height: 20px;
}

.fullscreen-layout {
  position: relative;
  width: 400px;
  height: 400px;
}

.fullscreen-layout header,
.fullscreen-layout footer,
.fullscreen-layout main {
  position: absolute;
  left: 0;
  right: 0;
}

.fullscreen-layout header {
  top: 0;
  height: 50px;
  background-color: #f66;
}

.fullscreen-layout footer {
  bottom: 0;
  height: 50px;
  background-color: #66f;
}

.fullscreen-layout main {
  top: 50px;
  bottom: 50px;
  background-color: #3c9;
}

.fullscreen-layout-flex {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

.fullscreen-layout-flex header {
  height: 50px;
  background-color: #f66;
}

.fullscreen-layout-flex footer {
  height: 50px;
  background-color: #66f;
}

.fullscreen-layout-flex main {
  flex: 1;
  background-color: #3c9;
}

.two-column-layout {
  width: 400px;
  height: 400px;
}

.two-column-layout .left {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #f66;
}

.two-column-layout .right {
  margin-left: 100px;
  height: 100%;
  background-color: #66f;
}

.two-column-layout-overflow {
  width: 400px;
  height: 400px;
}

.two-column-layout-overflow .left {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #f66;
}

.two-column-layout-overflow .right {
  overflow: hidden;
  height: 100%;
  background-color: #66f;
}

.two-column-layout-flex {
  display: flex;
  width: 400px;
  height: 400px;
}

.two-column-layout-flex .left {
  width: 100px;
  background-color: #f66;
}

.two-column-layout-flex .right {
  flex: 1;
  background-color: #66f;
}

.two-column-layout-calc {
  width: 400px;
  height: 400px;
  position: relative;
}

.two-column-layout-calc .left {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  background-color: #f66;
}

.two-column-layout-calc .right {
  height: 100%;
  width: calc(100% - 100px);
  margin-left: 100px;
  background-color: #66f;
}

.three-column-layout {
  width: 400px;
  height: 400px;
}

.three-column-layout .left {
  float: left;
  width: 50px;
  height: 100%;
  background-color: #f66;
}

.three-column-layout .center {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #66f;
}

.three-column-layout .right {
  overflow: hidden;
  height: 100%;
  background-color: #3c9;
}

.three-column-layout-flex {
  display: flex;
  width: 400px;
  height: 400px;
}

.three-column-layout-flex .left {
  width: 50px;
  background-color: #f66;
}

.three-column-layout-flex .center {
  width: 100px;
  background-color: #66f;
}

.three-column-layout-flex .right {
  flex: 1;
  background-color: #3c9;
}

.grail-layout-x {
  padding: 0 100px;
  width: 400px;
  height: 400px;
}

.grail-layout-x .left {
  float: left;
  margin-left: -100px;
  width: 100px;
  height: 100%;
  background-color: #f66;
}

.grail-layout-x .right {
  float: right;
  margin-right: -100px;
  width: 100px;
  height: 100%;
  background-color: #66f;
}

.grail-layout-x .center {
  height: 100%;
  background-color: #3c9;
}

.grail-layout-y {
  width: 400px;
  height: 400px;
}

.grail-layout-y .left {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #f66;
}

.grail-layout-y .right {
  float: right;
  width: 100px;
  height: 100%;
  background-color: #66f;
}

.grail-layout-y .center {
  margin: 0 100px;
  height: 100%;
  background-color: #3c9;
}

.grail-layout {
  display: flex;
  width: 400px;
  height: 400px;
}

.grail-layout .left {
  width: 100px;
  background-color: #f66;
}

.grail-layout .center {
  flex: 1;
  background-color: #3c9;
}

.grail-layout .right {
  width: 100px;
  background-color: #66f;
}

.one {
  background-color: #f66;
}

.two {
  background-color: #66f;
}

.three {
  background-color: #f90;
}

.four {
  background-color: #09f;
}

.average-layout {
  width: 400px;
  height: 400px;
}

.average-layout div {
  float: left;
  width: 25%;
  height: 100%;
}

.average-layout-flex {
  display: flex;
  width: 400px;
  height: 400px;
}

.average-layout-flex div {
  flex: 1;
}

.center-layout {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: #f66;
}

.center-layout div {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: #66f;
}

.sticky-footer-layout {
  width: 400px;
  height: 400px;
}

.sticky-footer-layout .wrapper {
  height: auto;
  width: 100%;
  min-height: 100%;
}

.sticky-footer-layout .content {
  padding-bottom: 150px;
  /* 必须使用和footer相同的高度 */
  background-color: #f66;
}

.sticky-footer-layout .footer {
  position: relative;
  margin-top: -150px;
  /* footer高度的负值 */
  height: 150px;
  clear: both;
  background-color: #66f;
}

.clearfix {
  display: inline-block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.sticky-footer-layout-flex {
  display: flex;
  flex-flow: column;
  width: 400px;
  height: 400px;
}

.sticky-footer-layout-flex .content {
  flex: 1;
  background-color: #f66;
}

.sticky-footer-layout-flex .footer {
  flex: 0;
  background-color: #66f;
}
/*# sourceMappingURL=index.css.map */